extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            
            .col-md-12 
                h1.text-center #{page}
                blockquote.text-center Lee sobre nuestros Clientes y sus experiencias 
                .row.testimoniales 
                    include ./layout/testimoniales-db
            
            .col-md-12 
                h2.text-center Agrega un testimonial 

                if(errores)
                    each error in errores 
                        .alert.alert-danger.text-center= error.mensaje

                .row.justify-content-center 
                    .col-md-8 
                        form(action="/testimoniales" method="post")
                            .form-group 
                                laber(for="nombre") Nombre 
                                input#nombre.form-control(type="text", placeholder="Tu nombre", name="nombre", value=nombre)
                            .form-group 
                                laber(for="correo") Correo electrónico 
                                input#correo.form-control(type="email", placeholder="Tu correo electrónico", name="correo", value=correo)
                            .form-group 
                                label(for="mensaje") Mensaje 
                                textarea#mensaje.form-control(name="mensaje", rows="3", placeholder="Tu mensaje") #{mensaje}
                            input.btn.btn-success.btn-block(type="submit") 

